<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <title>Western state 100 mile race winners</title>
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <center>
    <header>
      <h1>Actions on Google to get results from the Western state 100 mile race</h1>
    </header>
    <div class="glitchButton" style="position: absolute; top: 40px; right: 40px;"></div>
      <p>
        Action on google to get the results from Western state 100 mile race
      </p>
    <br><br>
    <hr>
    <main>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ykSFAs6S_Kg" frameborder="0" allowfullscreen></iframe>
    </main>
      <br><br>
      <h2>
        For more: <a href="https://ido-green.appspot.com">Ido's Talks and Code</a>
    </h2>
</center>
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
